@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/typography';

@import 'themes/light';
@import 'themes/dark';

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  @include typography(16px, 400, 1.5);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
