@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'components/button';

.container {
  min-height: 100vh;
}

.logo {
  flex-grow: 1;
  width: 40vmin;
  pointer-events: none;
}

.main {
  grid-area: main;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include themed() {
    background-color: t('background');
  }
}

.footer {
  grid-area: footer;
  justify-self: center;
}

.nav {
  grid-area: nav;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  height: 60px;
  // margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  & button {
    @include button(180px, 50px);
    @include flex-center(row, 10px);
    font-size: 1rem;
  }
}

.nav p {
  margin: 0;
}


.link:hover {
  text-decoration: underline;
}

.link {
  @include themed() {
    color: t('link-color');
  }
}

.link.active {
  text-decoration: underline;
}

