@import '../abstracts/mixins';


@mixin button($width: 120px, $height: 40px, $border-radius: 10px) {
    // Button styles
    height: $height;
    width: $width;
    border-radius: $border-radius;
    cursor: pointer;

    @include themed() {
        background: t('button-bg');
        color: t('button-text');
    }

    &:disabled {
        @include themed() {
            background: t('button-disabled-bg');
            color: t('button-disabled-text');
        }
        cursor: not-allowed;
    }
}
