@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';
@import '../../styles/components/card';
@import '../../styles/components/button';

.home-section {
  @include flex-center(column, 20px);

  button {
    @include button(150px, 50px, 10px);
    font-size: 1.2rem;
  }
  margin-bottom: 50px;
  text-align: center;

  a {
    // Link styles
    @include themed() {
      color: t('link-color');
    }
  }

  .card {
    @include flex-center(column, 20px);
    @include card(100%, 100%);
  }
}
